*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: flex;
    background: linear-gradient(-30deg, #0c6f82, #6ac963);
}
#aside {
    width: 80px;
}
#content {
    width: calc(100vw - 80px);
    background-color: aliceblue;
    margin: 20px;
    border-radius: 40px;
}
