aside{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 5%; */
    align-items: center;
}
.aside-nav-1, .aside-nav-2{
  align-items: center;

}
.aside-nav-2{
    /* position: absolute; */
    /* align-items: center; */
    /* bottom: 0;  */
    /* width: 80px; */
    /* padding-bottom: 30px; */
}

.logo{
    margin: 30px 0px 30px 0px;
}
.user-image{
    align-items: center;
    border-radius: 20px;
    width: 35px;
    height: 35px;
}
.a-aside {
    filter: invert();
}
.ul-aside, .li-aside{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.a-aside:hover{
    filter: invert(0);
    background-color: white;
    border-radius: 5px;
}
.li-aside img, .user-image img{
    width: 30px;
}
.vertical-text{
    filter: invert();
    font-family: sans-serif;
    writing-mode: vertical-lr;
}