aside{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80px;
    align-items: center;
}
.aside-nav-1, .aside-nav-2{
    /* margin: 20px auto; */
    display: flex;
    justify-content: center;
    width: 80px;
    height: 100%;
}
.ul-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 80px;
}
.li-aside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-aside{
    filter: invert();
    width: 30px;
}
.a-aside:hover{
    filter: invert(0);
    background-color: white;
    border-radius: 5px;
}
.user-image{
    align-items: center;
    border-radius: 20px;
    width: 35px;
    height: 35px;
}
.li-aside img, .user-image img{
    width: 30px;
    /* height: 30px; */
}
.vertical-text{
    filter: invert();
    font-family: sans-serif;
    writing-mode: vertical-lr;
}
/* 
@media (height < xxx) and ()
@media (width < xxx)
@media screen {
} */